ENTITIES_SERVICE_NAME=entities
ENTITIES_HTTP_ADDR=:8080
ENTITIES_GRPC_ADDR=:9090
ENTITIES_DATABASE_URL=postgres://entities:entities@localhost:5432/entities?sslmode=disable
ENTITIES_LOG_LEVEL=debug
ENTITIES_ENV=local
