IRONHIDE_SERVICE_NAME=ironhide
IRONHIDE_HTTP_ADDR=:8080
IRONHIDE_GRPC_ADDR=:9090
IRONHIDE_DATABASE_URL=postgres://ironhide:ironhide@localhost:5432/ironhide?sslmode=disable
IRONHIDE_LOG_LEVEL=debug
IRONHIDE_ENV=local
